html body .hidden {
  display: none !important;
}

body {
  overflow-x: hidden;
  width: 100%;  
  background: #fff;
  color: #000;
  font-family: 'Raleway', sans-serif;  
}

.footer  {
  margin-top: 2rem;
  border-top: 1px solid #000;
  padding: 0.5rem 0 2rem;
}

h1 {
  font-size: 4rem;
}

h1, h2, h3{
  font-family: 'Libre Baskerville', serif;
}

#tracks .date {
  font-size: 1rem;
}

#tracks div div.track {
  text-align: center;
  margin: 1rem 0 0 0;
  padding: 3rem 2rem 0 2rem;
  min-height: 10rem;
  display: block;
  font-size: 1.6rem;
  background: #efefef;
  border: 3px solid #fff;
}

#tracks a {
  color: #232323 !important;
  text-decoration: none !important;
}

#tracks a.playing .track,
#tracks a:hover .track {
  border: 3px solid #cfb118 !important;
  background: #f9f9f9;
}
#tracks a:not(.playing) {
    opacity: 0.8;
}

.playback-controls {
    margin: auto;
    margin-left: 10px;
    color: black;
}
.playback-controls button {
    background: none;
    border: 0;
    outline: none;
    color: black;
}
.playback-controls .play,
.playback-controls .next,
.playback-controls .prev,
.playback-controls .pause,
.playback-controls .shuffle,
.playback-controls .download {
    margin: 2rem 4rem 2rem 0;
    transform: scale(2);
    padding: 0;
}
.playback-controls .timecodes {
	display: none;
}
.playback-controls .shuffle {
    opacity: 0.25;
    top: 2px;
    padding-right: 3px;
}
.playback-controls .shuffle.on {
  opacity: 1;
}

.playback-controls > button, 
.playback-controls > input, 
.playback-controls > div {
  height: 24px;
    color: black;
} 


.scrubber {
    max-width: 250px;
    display: inline-block !important;
    vertical-align: top;
    border: none;
    color: black;
}
@media only screen and (max-width: 380px) {
  .scrubber {
    max-width: 100px;
  }
}


.timecodes,
.timecodes > div {
    display: inline-block;
    color: black;
}



/* INPUT RANGE */
input[type=range] {
  height: 24px;
  -webkit-appearance: none;
  width: 100%;
  background: none;
  margin: 2rem 2rem 0rem 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: black;
  border-radius: 1px;
  border: 0px solid rgba(0,0,0,0.5);
}
input[type=range]::-webkit-slider-thumb {
  border: 0px solid rgba(0,0,0,0.5);
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: black;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: black;
  border-radius: 1px;
  border: 0px solid rgba(0,0,0,0.5);
}
input[type=range]::-moz-range-thumb {
  border: 0px solid rgba(0,0,0,0.5);
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: black;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: black;
  border: 0px solid rgba(0,0,0,0.5);
  border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
  background: black;
  border: 0px solid rgba(0,0,0,0.5);
  border-radius: 2px;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  border: 0px solid rgba(0,0,0,0.5);
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: black;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: black;
}
input[type=range]:focus::-ms-fill-upper {
  background: black;
}
